<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">


            <num_wheel_pairs>2</num_wheel_pairs>

            
            <!-- Wheel Information -->
            <left_joint>wheel_FL_joint</left_joint>
            <right_joint>wheel_FR_joint</right_joint>

            <left_joint>wheel_RL_joint</left_joint>
            <right_joint>wheel_RR_joint</right_joint>

            <wheel_separation>0.358</wheel_separation>
            <wheel_separation>0.358</wheel_separation>
            
            <!-- dont know if its 0.057 or 0.0625 radius here took 0.057 -->
            <wheel_diameter>0.125</wheel_diameter>
            <wheel_diameter>0.125</wheel_diameter>

            <!-- wheel separation according to urdf 0.08214+0.14167=0.22381-->
            <!-- wheel diameter according to urdf 0.057*2 = 0.114-->

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            
            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>


</robot>